.navbar {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: solid;
    border-width: 1px;
}

.navbar a {
    float: left;
    color: #374151;
    text-align: center;
    padding-right: 56px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #374151;
}

.active {
    text-decoration: underline;
    color: #374151;
}

.navbar-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-right {
    float: right;
    margin-right: 70px;
}

@media screen and {max-width: 600px) {
    
.navbar a, .navbar-right {
    float: none;
    display: block;
}

.navbar-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}